            <table class="ui celled table segment">
            <thead>
            <tr>
              <th>User</th>
              <th>Message</th>
              <th>Image</th>
            </tr>
            </thead>
            <tbody>
            {{#each Tweet}}
              <tr>
                <td>
                  <img class="ui avatar image" src="/getuserpic/{{{_id}}}" onerror="this.src='/images/blank.gif'"/>
                  {{poster.firstName}} {{poster.lastName}}</td>
                <td>
                  {{message}}
                </td>
                <td>
                  <div class="ui tiny images">
                  <img class="ui image" src="/getpic/{{{_id}}}" onerror="this.src='/images/transparent.png'"/>
                    </div>
                </td>
              </tr>
            {{/each}}
            </tbody>
          </table>






