<div class="split">
  <article class="eight wide column">
    <div class="ui stacked fluid segment">
      <h2>Follow a user</h2>
      {{#each specialUsers}}
      <form action="/follow" method="POST">

          <div class="field">
            <!--<div class ="centersoc">-->
            <span id="soc">{{firstName}} {{lastName}}</span>
            <!--</div>-->
        <input  name="mes" type="hidden"  value="{{_id}}">
        <button class="mini ui green submit button">Follow</button>
          </div>
      </form>
        <br>
      {{/each}}



      <h2>Users you are following</h2>
      {{#each collect}}
      <form action="/unfollow" method="POST">

          <div class="field">
           <span id="soc">{{firstName}} {{lastName}}</span>
            <input  name="mes" type="hidden" value="{{_id}}">
            <button class="mini ui red submit button">Un Follow</button>
          </div>
      </form>
        <br>
      {{/each}}



      <h2>What other people are doing</h2>
      {{#each boom}}

        <div class="field">
          <label><span>{{follower.firstName}}  {{follower.lastName}}</span></label> <label> is now following </label><label>{{following.firstName}} {{following.lastName}}</label>

        </div>
      {{/each}}
      <br>
    </div>
  </article>
</div>

<div class="splitright">
  <h2>Following your friends tweets</h2>
  <aside class="eight wide column">
    <table class="ui celled table segment">
      <thead>
      <tr>
        <th>User</th>
        <th>Message</th>
        <th>Image</th>
      </tr>
      </thead>
      <tbody>
      {{#each tweets}}
        <tr>
          <td>
            <img class="ui avatar image" src="/getuserpic/{{{_id}}}" onerror="this.src='/images/blank.gif'"/>
            {{poster.firstName}}{{poster.lastName}}</td>
          <td>
            {{message}}
          </td>
          <td>
            <div class="ui tiny images">
              <img class="ui image" src="/getpic/{{{_id}}}" onerror="this.src='/images/transparent.png'"/>
            </div>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>


  </aside>
</div>


<script>
  $(document).ready(function () {
    $('div.split').fadeIn(4000).removeClass('hidden');
    $('div.splitright').fadeIn(6000).removeClass('hidden');

  });


</script>